@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap'); /*font-family: 'Barlow', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');  /*font-family: 'Fira Code', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;1,300&display=swap'); /* font-family: 'Karla', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap'); /*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); /*font-family: 'Courier Prime', monospace; */
/* * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
} */

body {
    margin: 0;
    padding: 0px;
    background-color: #5A7060;
    font-family: 'Karla', sans-serif;
    font-weight: 100;
    position: relative;
    min-height: 100%;
}

/* nav */
.fl-name{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem;
  padding-left: 7rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 2rem;
}

.navbar-links li{
  list-style: none;
  padding-right: 1em;
}

.navbar-links li a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}


.navbar-links li a:hover{
  color: #5A6070;
}

.toggle-button{
  position: absolute;
  top: 1.7rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{ 
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


/* footer */
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5A6070;
  color: white;
  padding: 2px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
}

.footer-index{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5A6070;
  color: white;
  padding: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
}

.footer-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-links li{
  list-style: none;
  padding-right: 1em;
}

.footer-links li a{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  padding: .5rem;
  display: block;
}

.footer-links li a:hover{
  color: #242424;
}

/* home content */
.home-flexbox-container{
  padding-top: 15rem;
  padding-left: 7em;
  padding-right: 7em;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* flex-flow: row wrap; */
}

/* home text */
.text-home-container{
  flex-direction: column;
  max-width: 30em;
}

.text-home-container h3{
  font-size: 100%;
  font-size: 4rem;
}

/* home pic */
.snowpic{
  max-width: 40%;
  border-radius: 8px;
  min-width: 20rem;
}


.hr-text {
  margin-top: 8rem;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
  font-size: 25px;
}
.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, black, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 0.5em;
    line-height: 1.5em;
    color: black;
    background-color: #fcfcfa;
}


.projects-area-container{
  position:relative;
}

.projects-container{
  max-width: 90rem;
  margin: 0 auto;
  padding: 10px;
}

.polaroid{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.polaroid a {
  background: white;
  display: inline-block;
  margin: 55px 0px 0px;
  padding: 0px 0px 30px;
  text-align: center;
  text-decoration: none;
  width: 400px;
  height: 280px;
}
.polaroid a:after {
  color: black;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
  font-family: 'Fira Code', monospace;
}
.polaroid a img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



#code {
  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background: #ccc;
  height: 700px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

#console {
  width:670px;
  padding: 40px;
  height: 620px;
  margin:0 auto;
  background: #383737;
}

#console a{
  color: #3a92c8;
}

  span.answer {
  color:#ccc;
}


.contact-flexbox-container{
  padding-top: 7rem;
  padding-left: 7em;
  padding-right: 7em;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* home text */
.input-contact-container{
  flex-direction: column;
  max-width: 30em;
  margin-left: 30px;
  margin-right: 30px;
}

.input-contact-container input{
  font-size: 100%;
  border:0; outline:0;
  padding: 1em;
  display: inline;
  width: 100%;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}

.text-area-contact{
  flex-direction: column;
  max-width: 30em;
  width: 30em;
  margin-left: 30px;
  margin-right: 30px;
}

.text-area-contact textarea{
  /* margin-left: 2.5rem; */
  font-size: 100%;
  border:0; outline:0;
  padding: 1em;
  display: inline;
  width: 100%;
  margin-top: 1em;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}


.send-message{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* margin: 0 auto; */
}

.send-message button{
  background-color: #C26868;
  width: 50%;
  min-height: 50px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  border-radius: 4px;
}


@media (max-width: 400px){
  .toggle-button{
    display: flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .navbar-links ul{
    width: 100%;
    flex-direction: column;
    padding-right: 0;
  }

  .navbar-links li{
    text-align: center;
  }

  .navbar-links li a{
    padding: .5rem 1rem;
  }

  .navbar-links.active{
    display: flex;
  }

  .navbar-links li:hover{
    background-color: grey;
  }

  .navbar-links li a:hover{
    color: white;
  }

  .fl-name{
    padding-left: 0;
  }

  .home-flexbox-container{
    padding-top: 8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .text-home-container{
    padding-bottom: 2rem;
  }

  .snowpic{
    border-radius: 8px;
  }

}